certifi==2018.4.16
cycler==0.10.0
kapteyn==2.3
kiwisolver==1.0.1
matplotlib==2.2.2
mkl-fft==1.0.2
mkl-random==1.0.1
numpy==1.14.3
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.4
scipy==1.1.0
six==1.11.0
tornado==5.0.2
xlrd==1.1.0
xlwt==1.3.0
